body {
  margin:0;
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
  font-variant-ligatures: none;
}
header {
  background-color: rgb(138,198,195);
  color:#202020;
  padding: 30px 0;
}
#timeline {
  width:100%;
}
#canvasscroll {
  width:100%;
  margin: 0 auto;
  overflow: scroll;
}
#canvasbox {

}
#set-chart {
	margin: 0 auto;
}

#formframe {
  //width:100%;
  //max-width: 600px;
  //margin: 30px auto;
  //padding: 20px;
}
.inner {
  width:100%;
  max-width: 600px;
  padding: 0 30px;
	margin: 0 auto;
}
.formpad {
  padding: 10px 0;
  &[data-tab]{
    border:1px solid #ccc;
    padding: 20px 0;
  }
}
input {
  -webkit-appearance: none;
  &.input-large {
    width: 200px;
		height:50px;
		padding: 5px 10px;
		font-size:21px;
		border:none;
		border-bottom:2px solid #333;
		border-radius:0;
		text-align: center;
  }
  &.input-small {
    width:100px; height:50px; padding: 5px 10px; font-size:21px; border:none; border-bottom:2px solid #333; border-radius:0; text-align: center;
  }
}
select {
  padding: 10px 20px;
  border-radius:5px;
}

label {
  font-size: 16px; line-height: 24px; display: block; color:#606060; text-align: center;
}
.notes {
  font-size: 14px; line-height: 19px;
}

.download-area {
  padding: 20px;
}

@import "buttons";
@import "tabs";

table { 
  width:90%;
  margin: 0 auto;
  border-collapse: collapse;
  border:1px solid #333;
  tbody {
    tr:nth-child(odd) {
      background-color: #ccc;
    }
    td {
      line-height: 24px; font-size:16px;
    }
  }
}


