body {
  margin:10px;
  font-family: sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
  font-variant-ligatures: none;
}
#timeline {
  width:100%;
}
#canvasscroll {
  width:100%;
  margin: 0 auto;
  overflow: scroll;
}
#canvasbox {
  width:1162px;
  height:140px;
  border:1px solid #ccc; 
  margin: 0 auto;
}
canvas { 
  width:100%;
  height: 100%;
}

#formframe {
  width:100%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}
.formpad {
  padding: 10px 0;
}
input {
  -webkit-appearance: none;
}
.input-large {
  width: 200px; height:50px; padding: 10px; font-size:21px; border:none; border-bottom:2px solid #333; border-radius:none;
}
.input-small {
  width:80px; height:50px; padding: 10px; font-size:21px; border:none; border-bottom:2px solid #333; border-radius:none;
}
label {
  font-size: 16px; line-height: 24px; display: block;
}
.notes {
  font-size: 14px; line-height: 19px;
}
.btn {
  padding: 10px 24px;
  font-size:16px;
  font-weight:700;
  border-radius:8px;
  border:none;
  background-color: rgb(13, 130, 223);
  color:#fff;
}
.download-area {
  padding: 20px;
}
